@mixin tablet() {
  @media (min-width: 768px) and (max-width: 1300px) {
    @content;
  }
}

@mixin mobile() {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin wrapper() {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px;

  @include tablet {
    max-width: 1439px;
  }

  @include mobile {
    max-width: 767px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@mixin list-reset() {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin h-model() {
  margin: 0;

  font-size: 48px;
  line-height: 72px;
  font-weight: 400;

  letter-spacing: 2px;
}

@mixin p-model() {
  margin: 0;

  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}

@mixin text-options($size, $height, $weight, $color) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  color: $color;
}
