$font-main: "Open Sans",
  "Arial Narrow",
  sans-serif;
$font-logo: "Roboto",
  "Arial Narrow",
  sans-serif;

$main-orange-color: #cd6326;
$main-hover-color: #e39128;
$main-pressed-color: #8f5613;

$font-light-color: #f7f7f7;
$font-darkgrey-color: #333333;
$font-lightgrey-color: #666666;

$bg-green-color: #02160b;
$bg-darkgrey-color: #181617;
$bg-grey-color: #cccccc;
