@import '../style.scss';

.menu {
  @include list-reset();
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 6;
  width: 290px;
  height: 100%;
  padding-top: 100px;

  top: 0;
  left: -355px;

  background: linear-gradient(40deg, #ffd86f, #fc6262);
  list-style-type: none;
  transition: 0.5s ease;
  box-shadow: 5px 0px 10px #00000033;
}

.open {
  top: 0;
  left: 0;
}

.menu-item {
  margin-bottom: 2%;
  padding: 11px 28px;
  padding-left: 51px;
  cursor: pointer;
}

.menu-link {
  @include text-options(14px, 16px, 500, $button-main-color);
  position: relative;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  padding: 11px 28px;
  padding-left: 51px;
  border-radius: 20px;

  &:hover {
    color: $sixth-color;
  }

  &--categories {
    @include text-options(18px, 23px, 500, $text-main-color);

    &:hover {
      color: $button-main-color;
    }
  }
}

.hide {
  display: none;
}
