@import '../style.scss';

.menu {
  @include list-reset();
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 6;
  width: 290px;
  height: 100vh;
  padding-top: 100px;

  top: 0;
  left: -355px;

  background: linear-gradient(40deg, #ffd86f, #fc6262);
  list-style-type: none;
  transition: 0.5s ease;
  box-shadow: 5px 0px 10px #00000033;
}

.open {
  top: 0;
  left: 0;
}

.login {
  position: absolute;
  width: 150px;
  bottom: 0;
  left: -355px;
  z-index: 6;
  transition: 0.5s ease;
  background-color: $sixth-color;
}

.login-open {
  left: calc(290px / 2 - 150px / 2);
  bottom: 5%;
}

.menu-item {
  margin-bottom: 2%;
  padding: 11px 28px;
  padding-left: 51px;
  cursor: pointer;
}

.menu-link {
  @include text-options(14px, 16px, 500, $button-main-color);
  position: relative;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  padding: 11px 28px;
  padding-left: 51px;
  border-radius: 20px;
}

.hide {
  display: none;
}
