.garage {
  padding-top: 20px;
  padding-bottom: 20px;
}

.garage__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1%;
  padding-bottom: 1%;
}

.garage__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5%;
}

.garage__general-buttons {
  display: flex;
  padding-bottom: 10px;
}

.garage__select-button,
.garage__remove-button {
  margin-right: 1%;
  padding: 0.3% 1.5%;
}

.garage__select-button {
  color: $text-main-color;
  text-shadow: 0px 0px 6px black;
  background-image: linear-gradient(#f2fcb8 0%, #ddea90 35%, #eef090 50%, #d3e56b 51%, #f7fdbd 100%);
}

.garage__remove-button {
  background-image: linear-gradient(#fcb8b8 0%, #ea9090 35%, #f09090 50%, #e56b6b 51%, #fdbdbd 100%);
}

.garage__car-name {
  @include text-options(16px, 17px, 700, $text-color);
  margin-left: 10%;
  text-transform: uppercase;
}

.garage__control-buttons {
  margin-right: 50px;
  text-align: center;
}

.garage__start-engine-button,
.garage__stop-engine-button {
  width: 30px;
  height: 30px;

  font-size: 0;

  background-color: transparent;
  border: none;
}

.garage__start-engine-button {
  background: url("./assets/icons/icon-start.svg") no-repeat;
}

.garage__stop-engine-button {
  background: url("./assets/icons/icon-stop.png") no-repeat;
  background-size: 30px;
}
