.page-main {
  @include wrapper;
  position: relative;
  height: 90vh;
  padding-bottom: 45px;
}

.page-main__title {
  @include h1-model;
  margin-bottom: 20px;
}

.page-main__page-number {
  @include h2-model;
  margin-bottom: 20px;
}
