.road {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  border-bottom: 2px dashed $text-main-color;
}

.road__launch-pad {
  display: flex;
  align-items: center;
}

.road__flag {
  position: relative;
  width: 40px;
  bottom: 6px;
  margin-left: auto;
  margin-right: 13%;
  background: url("./assets/icons/icon-flag.svg") no-repeat;
  background-position-y: center;
}
