// @font-face {
//   font-family: "Roboto";
//   font-weight: 400;
//   font-display: swap;
//   src:url('../../../assets/fonts/roboto400.woff2') format('woff2'), url('../../../assets/fonts/roboto400.woff') format('woff');
//   // src: url("./assets/fonts/roboto400.woff2") format("woff2"),
//   //   url("./assets/fonts/roboto400.woff") format("woff");
// }

// @font-face {
//   font-family: "Roboto";
//   font-weight: 500;
//   font-display: swap;
//   src: url('../../../assets/fonts/roboto500.woff2') format('woff2'), url('../../../assets/fonts/roboto500.woff') format('woff');
// }
