$font-main: "Roboto", "Arial", sans-serif;

$main-color: #f75395;
$secondary-color: #ff7656;
$third-color: #99CCFF;
$fourth-color: #affa54;
$fifth-color: #66ff99;
$sixth-color: #9966FF;

$text-main-color: #2f353b;
$button-main-color: #ffffff;

$bg-main-color: #bbbbbb;
$bg-secondary-color: #ffffe0;
