@mixin desktop() {
  @media (min-width: 1200px) {
    @content;
  }
}

// @mixin tablet() {
//   @media (min-width: 768px) and (max-width: 1023px) {
//     @content;
//   }
// }

// @mixin mobile() {
//   @media (max-width: 767px) {
//     @content;
//   }
// }

@mixin wrapper-widest() {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 152px;
  padding-right: 149px;
}

@mixin wrapper-wide() {
  max-width: 1620px;
  margin: 0 auto;
  padding-left: 209px;
  padding-right: 210px;
}

@mixin wrapper-middle() {
  max-width: 1199px;
  margin: 0 auto;
  padding-left: 204px;
  padding-right: 205px;
}

@mixin list-reset() {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin h2-model() {
  margin: 0;
  color: $title-grey-dark-color;
  font-size: 48px;
  line-height: 56px;
  font-weight: 900;
}

@mixin p-model() {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $text-grey-color;
}

@mixin text-options($size, $height, $weight, $color) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  color: $color;
}
