// @mixin desktop() {
//   @media (min-width: 1200px) and (max-width: 1919px) {
//     @content;
//   }
// }

// @mixin tablet() {
//   @media (min-width: 640px) and (max-width: 1199px) {
//     @content;
//   }
// }

// @mixin mobile() {
//   @media (max-width: 639px) {
//     @content;
//   }
// }
@mixin desktop() {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin tablet() {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin mobile() {
  @media (max-width: 320px) {
    @content;
  }
}

@mixin wrapper-widest() {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 7.9%;
  padding-right: 7.9%;

  @include desktop {
    max-width: 1200px;
    padding-left: 12.5%;
    padding-right: 12.5%;
  }

  @include tablet {
    max-width: 640px;
    padding-left: 3.1%;
    padding-right: 3.1%;
  }

  @include mobile {
    max-width: 320px;
    padding-left: 3.1%;
    padding-right: 3.1%;
  }
}

@mixin wrapper-wide() {
  max-width: 1620px;
  margin: 0 auto;
  padding-left: 11%;
  padding-right: 11%;

  @include desktop {
    max-width: 900px;
    padding-left: 6.4%;
    padding-right: 6.4%;
  }

  // @include tablet {
  //   max-width: 600px;
  //   padding-left: 31px;
  //   padding-right: 31px;
  // }

  // @include mobile {
  //   max-width: 300px;
  //   padding-left: 14px;
  //   padding-right: 140px;
  // }
}

@mixin wrapper-middle() {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10.7%;
  padding-right: 10.7%;
}

@mixin list-reset() {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin h2-model() {
  margin: 0;
  color: $title-grey-dark-color;
  font-size: 48px;
  line-height: 56px;
  font-weight: 900;
}

@mixin p-model() {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $text-grey-color;
}

@mixin text-options($size, $height, $weight, $color) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  color: $color;
}
