$font-main: "Roboto", "Arial", sans-serif;
$font-popup: "Poppins", "Helvetica", sans-serif;


// цвета, которые не поменяются при переключении тем
$text-white-color: #fefefe;
$bg-footer-color: #333333;
$input-white-color: #e0e0e0;
$range-gray-color: #bdbdbd;
$main-green-color: #4ad7cb;
$gradien-first-color: #4bd8b5;
$gradien-second-color: #49d6df;

// $bg-white1-color: #ffffff;
// $bg-white2-color: #fbfbfb;
// $title-grey-dark-color: #333333;
// $text-grey-dark-color: #444444;
// $text-grey-color: #4f4f4f;
// $text-white-color: #fefefe;
// $input-white-color: #e0e0e0;
// $switch-grey-color: #f2f2f2;
// $main-green-color: #4ad7cb;
// $gradien-first-color: #4bd8b5;
// $gradien-second-color: #49d6df;
// $range-gray-color: #bdbdbd;

.light-theme {
  --bg-color: #ffffff;
  --bg-secondary-color: #fbfbfb;
  --bg-third-color: #fefefe;
  --btn-text-color: #ffffff;
  --switch-bg-color: #f2f2f2;
  --switch-point-bg-color: #ffffff;
  --text-title-color: #333333;
  --text-paragraph-color: #4f4f4f;
  --stroke-map-svg: #333333;
  --stroke-map-svg-active: #dadada;
}

.dark-theme {
  --bg-color: #333333;
  --bg-secondary-color: #333333;
  --bg-third-color: #3b3b3b;
  --btn-text-color: #ffffff;
  --switch-bg-color: #4f4f4f;
  --switch-point-bg-color: #1b1b1b;
  --text-title-color: #fefefe;
  --text-paragraph-color: #f2f2f2;
  --stroke-map-svg: #e1e1e1;
  --stroke-map-svg-active: #333333;
}
