$font-main: "Roboto", "Arial", sans-serif;
$font-popup: "Poppins", "Helvetica", sans-serif;

$bg-white1-color: #ffffff;
$bg-white2-color: #fbfbfb;
// $bg-grey-color: #f2f2f2;
$title-grey-dark-color: #333333;
$text-grey-dark-color: #444444;
$text-grey-color: #4f4f4f;
$text-white-color: #fefefe;
$switch-grey-color: #f2f2f2;
// $title-color: #111111;
// $subtitle-color: #222222;
$main-green-color: #4ad7cb;
// $minor-green-color: #5eaa2f;
// $border-table-color: #cdcdcd;


// темная тема
$switch-grey-dark-color: #4f4f4f;
