@import '../../style.scss';

.translate {
  transform: rotateY(180deg);
}

.card__item {
  position: relative;
  width: calc(100% / 4 - 6%);
  height: 250px;
  margin-right: 2%;
  margin-bottom: 25px;
  transform-style: preserve-3d;
  background-color: $secondary-color;
  border: 10px solid RGBA(255, 255, 255, 0.4);

  cursor: pointer;
  box-shadow: 0 2px 5px 0 RGB(0 0 0 / 8%), 0 2px 10px 0 RGB(0 0 0 / 8%);
  transition: box-shadow 0.25s;
  transition: transform 0.5s;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:hover {
    box-shadow: 0 8px 17px 0 RGB(0 0 0 / 15%), 0 6px 20px 0 RGB(0 0 0 / 15%);
  }
}

.play-mode {
  background-color: $third-color;
}

.front,
.back {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
  transform-style: preserve-3d;
}

.back {
  transform: rotateY(180deg);
}

.card__name {
  @include text-options(20px, 24px, 700, $text-main-color);
  text-transform: uppercase;
}

.back,
.front,
.card__button-flip {
  backface-visibility: hidden;
}

.card__button-flip {
  position: absolute;
  display: inline-block;
  right: 0px;
  bottom: 2px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url('../../../../assets/icons/icon-button-flip.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 83%;
  border-radius: 50%;
  box-shadow: 0 0 6px 4px $text-main-color;
  transition: 0.3s;
  border: none;
  cursor: pointer;
  border-bottom-right-radius: unset;
  z-index: 10000;

  &:hover {
    transform: scale(1.3) rotate(-180deg);
    border-bottom-right-radius: 50%;
  }
}
