@import '../../../components/style.scss';

.page-admin-categories {
  @include wrapper;
  position: relative;
  padding-top: 50px;
  min-height: 85vh;
  padding-bottom: 45px;
  transition: all 1s ease 1s;
}

.page-admin-categories__title {
  @include h1-model;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
}

.categories-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.categories-item {
  position: relative;
  width: calc(100% / 4 - 6%);
  height: 280px;
  margin-right: 2%;
  margin-bottom: 25px;
  padding: 10px;

  border: 2px solid black;
  transition: all 0.5s;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:hover {
    box-shadow: 0 0 6px 2px #34495e;
  }

  @include tablet {
    width: calc(100% / 3 - 6%);
    height: 250px;
  }

  @include mobile {
    width: calc(100% / 2 - 6%);
    height: 250px;
  }
}

.item-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 7px;
}

.item-title {
  @include text-options(27px, 30px, 500, $text-main-color);
  width: 100%;
  text-align: center;
}

.item-close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  background-color: transparent;
  background-image: url('../../../../assets/icons/icon-button-close.png');
  background-repeat: no-repeat;
  background-size: 85%;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease 0.2s;

  &:hover {
    transform: scale(1.2);
  }
}

.text-wrapper {
  @include text-options(20px, 24px, 400, $text-main-color);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: auto;
}

.count-words {
  font-weight: 600;
}

.button-update {
  margin-right: 4%;
  margin-top: auto;
  padding: 10px;
  background-color: $main-color;
}

.button-add-word {
  margin-top: auto;
  padding: 10px;
  background-color: $secondary-color;
}

.form-update {
  position: absolute;
  display: none;
  width: 100%;
  height: 280px;
  top: 0;
  background-color: transparent;
  border: none;

  &--open {
    display: flex;
  }
}

.button-create {
  padding: 18px;
  border: 2px solid $text-main-color;
}

.button-cancel {
  padding: 18px;
  border: 2px solid $secondary-color;
}
