@import '../style.scss';

.points-stars-block {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 12px;
  overflow-x: hidden;
  transition: all 1s ease 1s;

  &--hide {
    display: none;
  }
}
