.best-score__wrapper {
  @include wrapper();
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 80%;
  min-height: 100%;
  padding: 48px 56px;
  background-color: $bg-color2;
}

.best-score__title {
  @include h1-model();
  width: 100%;
  margin-bottom: 20px;
}

.best-score__list {
  @include list-reset;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 90%;
  top: 100px;
}

.best-score__item {
  display: flex;
  margin-bottom: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.best-score__item-avatar {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  border-radius: 50%;
}

.best-score__data-user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.best-score__name-user {
  @include text-options(14px, 21px, 500, $main-text-color);
}

.best-score__email-user {
  @include text-options(12px, 15px, 400, $second-text-color);
}

.best-score__result {
  @include text-options(14px, 24px, 500, #2196f3);
  align-self: center;
  margin-left: auto;

  &::before {
    @include text-options(14px, 21px, 500, $main-text-color);
    content: "Score: ";
  }
}
