.cards-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 900px;
  height: 900px;
  // min-height: 100vh;
}

.cards-field__wrapper {
  @include wrapper();
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  min-height: 100%;
  background-color: $bg-color2;
}
