.form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 639px;
  height: 460px;
  padding: 19px;
  top: 0;
  left: calc(50% - 639px / 2);
  background-color: $bg-color2;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
}

.form__title {
  @include text-options(20px, 30px, 500, $second-text-color);
  width: 100%;
  margin: 0;
  margin-bottom: 53px;
}

.form__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  width: 49%;
  margin-bottom: 82px;
}

.form__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding: 8px 16px 8px 52px;
  background-color: rgba(33, 33, 33, 0.08);
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 4px 4px 0 0;

  &::after {
    display: none;
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    top: 10px;
    right: 16px;
    background: url("./assets/icons/ok.svg") no-repeat center;
    pointer-events: none;
  }

  &.validity::after {
    display: block;
  }

  &.not-validity::after {
    display: block;
    background-image: url("./assets/icons/not-ok.svg");
  }
}

.form__item-label {
  @include text-options(12px, 16px, 400, $second-text-color);
}

.form__item-input {
  @include text-options(16px, 24px, 400, $main-text-color);
  padding: 2px;
  background-color: unset;
  border: none;

  &::placeholder {
    @include text-options(16px, 24px, 400, $main-text-color);
  }

  &--file {
    position: absolute;
    width: 139px;
    bottom: -34px;
    cursor: pointer;
  }
}

.form__user-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50%;
  min-height: 227px;
}

.form__user-img {
  max-height: 227px;
}

.form__btn-submit {
  width: auto;
  margin-right: 17px;
  margin-left: auto;
  padding: 10px 16px;
  color: $bg-color1;
  background-color: $main-color;
}

.form__btn-cancel {
  width: auto;
  padding: 10px 16px;
}
