.how-to-play__wrapper {
  @include wrapper();
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 80%;
  min-height: 100%;
  padding-top: 30px;
  padding-left: 43px;
  padding-right: 43px;
  background-color: $bg-color2;
}

.how-to-play__title {
  @include h1-model();
  width: 100%;
  margin-bottom: 20px;
}

.how-to-play__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  margin-right: 120px;
}

.how-to-play__item {
  @include p-model;
  position: relative;
  margin-bottom: 20px;
  padding: 16px;
  padding-left: 72px;
  background-color: $bg-color1;

  &:first-child {
    height: 11%;

    &::before {
      content: "1";
    }
  }

  &:nth-child(2) {
    height: 21%;
    &::before {
      content: "2";
    }
  }

  &:last-child {
  height: 47%;
  margin-bottom: 0;
    &::before {
      content: "3";
    }
  }

  &::before {
    @include text-options(24px, 38px, 400, $bg-color1);
    position: absolute;
    width: 40px;
    height: 40px;
    padding-left: 12px;
    top: 12px;
    left: 18px;
    background-color: $main-color;
    border-radius: 50%;
  }
}

.how-to-play__images {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 40%;
  height: 100%;
}

.how-to-play__register {
  width: 302px;
  margin-bottom: 2%;
}

.how-to-play__settings {
  width: 80px;
  margin-bottom: 2%;
}

.how-to-play__game {
  width: 330px;
}
