.page-header {
  display: flex;
  min-height: 6vh;
  margin-bottom: 30px;
  background-color: $main-color;
}

.page-header__wrapper {
  @include wrapper;
  display: flex;
  align-items: center;
  width: 100%;
}
