.settings__wrapper {
  @include wrapper();
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 80%;
  padding: 48px 56px;
  background-color: $bg-color1;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.24), 0 9px 18px rgba(0, 0, 0, 0.18);
}

.settings__title {
  @include h1-model();
  width: 100%;
}

.settings__label {
  @include text-options(14px, 21px, 400, $second-text-color);
  width: 185px;
}

.settings__select {
  @include text-options(14px, 21px, 400, $main-color);
  width: 100px;
  margin-bottom: 40px;
  background-color: $bg-color1;
  border: none;
}

.settings__option {
  @include text-options(14px, 21px, 400, $second-text-color);
  border: none;
}
