@import "./sass/general/normalize.scss";
@import "./sass/general/fonts.scss";
@import "./sass/general/variables.scss";
@import "./sass/general/mixins.scss";
@import "./sass/general/common.scss";
@import "./sass/blocks/button.scss";
@import "./sass/blocks/page-header.scss";
@import "./sass/blocks/main-nav.scss";
@import "./sass/blocks/logo.scss";
@import "./sass/blocks/page-main.scss";
@import "./sass/blocks/how-to-play.scss";
@import "./sass/blocks/timer.scss";
@import "./sass/blocks/cards-field.scss";
@import "./sass/blocks/card.scss";
@import "./sass/blocks/footer.scss";
@import "./sass/blocks/registration.scss";
@import "./sass/blocks/form.scss";
@import "./sass/blocks/best-score.scss";
@import "./sass/blocks/settings.scss";
@import "./sass/blocks/open-hide.scss";
