.button {
  display: inline-block;

  @include text-options(23px, 27px, 400, $font-light-color);

  text-align: center;
  vertical-align: middle;

  background-color: $main-orange-color;
  border-radius: 5px;

  font-family: $font-logo;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: $main-hover-color;
    transition-duration: 200ms;
  }

  &:active {
    background-color: $main-pressed-color;
    transition-duration: 200ms;
  }
}
