.get-notified {
  background-color: $bg-grey-color;
}

.get-notified__wrapper {
  @include wrapper;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 137px;
  padding-bottom: 241px;
}

.get-notified__title {
  @include text-options(27px, 40px, 400, $font-darkgrey-color);
  margin: 0;
  margin-bottom: 59px;
}

.get-notified__form {
  display: flex;
}

.get-notified__input {
  @include text-options(23px, 27px, 400, $font-lightgrey-color);
  width: 540px;
  padding: 18px 14px 15px;
  background-color: transparent;
  border: 1px solid $font-lightgrey-color;
  border-right: none;
  outline: none;

  &::placeholder {
    @include text-options(23px, 27px, 400, $font-lightgrey-color);
  }

  @include mobile {
    width: 100%;
  }
}

.get-notified__button {
  width: 120px;
  padding: 0;
  border: none;
  border-radius: 0 5px 5px 0;
  outline: none;
}
