.logo {
  @include text-options(32px, 60px, 400, $font-light-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 222px;

  font-family: $font-logo;
  text-transform: uppercase;
  cursor: pointer;
}
