.site-map-list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.site-map-list__link {
  @include text-options(23px, 60px, 400, $font-light-color);

  &:hover {
    color: $main-orange-color;
    transition-duration: 200ms;
  }
}
