.social-list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-list__link {
  font-size: 0;

  &:hover .social-list__icon {
    fill: $main-orange-color;
    transform: scale(1.1);
    transition-duration: 200ms;
  }
}

.social-list__icon {
  fill: $font-light-color;
}
