.social-list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__link {
  width: 40px;
  height: 40px;
  font-size: 0;

  &:hover {
    opacity: 0.5;
  }

  &--fb {
    background: url("../img/facebook-logo.svg") no-repeat;
  }

  &--insta {
    background: url("../img/insta-logo.svg") no-repeat;
  }

  &--pint {
    background: url("../img/pinterest-logo.svg") no-repeat;
  }

  &--tg {
    background: url("../img/telegram-logo.svg") no-repeat;
  }
}

.social-list__icon {
  fill: $font-light-color;
}
