.survival {
  background-color: $bg-green-color;
}

.survival__wrapper {
  @include wrapper;
  position: relative;
  padding-top: 120px;
  padding-bottom: 242px;
  z-index: 1;
}

.survival__title {
  @include h-model;
  margin-bottom: 51px;

  color: $main-orange-color;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.survival__description {
  @include p-model;
  width: 274px;
  margin-bottom: 49px;

  color: $font-light-color;
}

.survival__donate {
  width: 160px;
  padding: 16px 22px;
}
