.survival {
  background-color: $bg-green-color;
}

.survival__wrapper {
  @include wrapper;
  position: relative;
  padding-top: 120px;
  padding-bottom: 242px;
  z-index: 1;

  @include tablet {
    padding-bottom: 188px;
  }

  @include mobile {
    padding-bottom: 64px;
  }
}

.survival__title {
  @include h-model;
  margin-bottom: 51px;

  color: $main-orange-color;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.survival__description {
  @include p-model;
  width: 24%;
  margin-bottom: 49px;

  color: $font-light-color;

  @include tablet {
    width: 40%;
  }

  @include mobile {
    width: 40%;
  }
}

.survival__donate {
  width: 13.3%;
  padding: 16px 22px;

  @include tablet {
    width: 30%;
  }

  @include mobile {
    width: 30%;
  }
}
