@import '../style.scss';

.menu {
  @include list-reset();
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 6;
  width: 290px;
  height: 100vh;
  padding-top: 100px;

  top: 0;
  left: -355px;
  // left: 0;

  background: linear-gradient(40deg, #ffd86f, #fc6262);
  list-style-type: none;
  transition: 0.5s ease;
  box-shadow: 5px 0px 10px #00000033;

  // &--open {
  //   top: 0;
  //   left: 0;
  // }
}

.open {
  top: 0;
  left: 0;
}
