@import "./styles/general/normalize.scss";
// @import "./styles/general/fonts.scss";
@import "./styles/general/variables.scss";
@import "./styles/general/mixins.scss";
@import "./styles/general/common.scss";
@import "./styles/general/button.scss";
// @import "./styles/blocks/page-header.scss";
// @import "./styles/blocks/menu.scss";
// @import "./styles/blocks/toggle.scss";
// @import "./styles/blocks/switch.scss";
// @import "./styles/blocks/overlay.scss";
// @import "./styles/blocks/page-main.scss";
// @import "./styles/blocks/category.scss";
