@import "./sass/general/normalize.scss";
@import "./sass/general/fonts.scss";
@import "./sass/general/variables.scss";
@import "./sass/general/mixins.scss";
@import "./sass/general/common.scss";
@import "./sass/blocks/button.scss";
@import "./sass/blocks/page-header.scss";
@import "./sass/blocks/page-main.scss";
@import "./sass/blocks/car-view.scss";
@import "./sass/blocks/race-controls.scss";
@import "./sass/blocks/garage.scss";
@import "./sass/blocks/car.scss";
@import "./sass/blocks/road.scss";
@import "./sass/blocks/pagination.scss";
@import "./sass/blocks/table-winners.scss";
// @import "./sass/blocks/card.scss";
// @import "./sass/blocks/footer.scss";
// @import "./sass/blocks/registration.scss";
// @import "./sass/blocks/form.scss";
// @import "./sass/blocks/best-score.scss";
// @import "./sass/blocks/settings.scss";
// @import "./sass/blocks/congratulations.scss";
// @import "./sass/blocks/open-hide.scss";
