@import '../../../components/style.scss';

.page-body-parts {
  @include wrapper;
  position: relative;
  padding-top: 50px;
  height: 90vh;
  padding-bottom: 45px;
}

.page-body-parts {
  @include h1-model;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
}