@import '../../../components/style.scss';

.page-clothes {
  @include wrapper;
  position: relative;
  padding-top: 50px;
  min-height: 85vh;
  padding-bottom: 45px;
  transition: all 1s ease 1s;
}

.page-clothes__title {
  @include h1-model;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
}

.page-clothes__button-start,
.page-clothes__button-repeat {
  display: none;
  transition: 0.3s ease;
}

.open {
  position: absolute;
  display: block;
  top: 400px;
  left: calc(50% - 150px / 2);
  width: 150px;
  height: 150px;
  padding-top: 24px;
  padding-bottom: 20px;
  padding-left: 34px;
  background-image: url('../../../../assets/icons/icon-button-start.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border: none;
  border-radius: 50%;
  box-shadow: 1px 1px 11px 4px #b6d0f266;
  transform: translateY(-50%);
  cursor: pointer;
  transition: top 1.3s, transform 1s;
  z-index: 1;
}

.repeat {
  position: absolute;
  display: block;
  top: calc(100% - 300px);
  left: calc(50% - 95px / 2);
  width: 95px;
  height: 95px;
  padding: 0;
  background-image: url('../../../../assets/icons/icon-repeat-word.svg');
  background-repeat: no-repeat;
  background-size: 70%;
  background-size: 85%;
  background-position: 4px 4px;
  transform: none;
  transition: top 1.3s, transform 1s, background 0.2s;
  border-radius: 50%;
  box-shadow: 1px 1px 11px 4px #b6d0f266;
  cursor: pointer;
}

.overlay {
  display: none;
  transition: 0.3s ease;
}

.overlay-open {
  display: block;
  height: calc(100vh + 0px);
  width: calc(100vw + 0px);
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.4);
}

.game-is-over {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100%);
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #00000040;
  transition: all 1s ease 1s;
}

.game-is-over-text {
  @include text-options(50px, 60px, 700, $sixth-color);
  display: block;
  margin-bottom: 5px;
  padding: 40px;
  background-color: $bg-secondary-color;
  border-radius: 30px;
  text-transform: uppercase;
  text-shadow: 5px -5px 0 $text-main-color;
}

.open-image {
  display: block;
  width: 20%;
}

.hide {
  display: none;
}
