$font-main: "Roboto", "Arial", sans-serif;
$bg-color1: #ffffff;
$bg-color2: #f2f2f2;
$bg-open-card-true:  rgba(10, 207, 131, 0.5);
$bg-open-card-false:  rgba(242, 78, 30, 0.5);
$bg-button: #f2f9fe;
$main-color: #2196f3;
$main-text-color: #000000;
$second-text-color: rgba(0, 0, 0, 0.6);
$checkbox-color: #018786;
$cross-color: #eb5757;
