@import "../../sass/general/normalize.scss";
// @import "general/fonts.scss";
// @import "general/variables.scss";
// @import "general/mixins.scss";
@import "../../sass/general/common.scss";
// @import "blocks/button.scss";
@import "../../sass/blocks/blue.scss";
