@keyframes bounce-watch {
  0% {
    transform: translateY(250px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-pets-in-zoo {
  0% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(0);
  }
}

// @keyframes increase-width-watch {
//   0% {
//     width: $width;
//   }

//   100% {
//     width: $width*1.55;
//   }
// }
