@keyframes bounce-watch {
  0% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-pets-in-zoo {
  0% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(0);
  }
}
