.copyright {
  padding-top: 25px;

  @include desktop {
    padding-top: 28px;
  }

  @include tablet {
    padding-top: 26px;
  }


}

.copyright__list {
  @include list-reset;
}

.copyright__item-link {
  @include text-options(12px, 14px, 400, $range-gray-color);
}
