.how-works {
  padding-top: 99px;
  padding-bottom: 100px;
  background-color: $bg-white2-color;

  @include tablet {
    padding-bottom: 69px;
  }

  @include mobile {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.how-works__wrapper {
  @include wrapper-middle;
  display: flex;
  flex-direction: column;

  @include desktop {
    @include wrapper-wide;
  }

  @include tablet {
    @include wrapper-widest;
  }

  @include mobile {
    @include wrapper-widest;
  }
}

.how-works__title {
  @include h2-model;
  margin-bottom: 32px;

  @include mobile {
    margin-bottom: 21px;
    font-size: 36px;
    line-height: 42px;
  }
}

.how-works__description {
  @include p-model;
  margin-bottom: 29px;

  @include desktop {
    margin-bottom: 13px;
  }

  @include tablet {
    margin-bottom: 29px;
  }
}

.how-works__slider-list {
  margin-bottom: 24px;

  @include mobile {
    margin-bottom: 15px;
  }
}

.how-works__slider-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.how-works__link {
  align-self: center;
  padding-top: 19px;
  padding-bottom: 15px;

  @include mobile {
    margin-left: 4%;
  }
}

.how-works__range {
  @include mobile {
    margin-bottom: 22px;
  }
}

.how-works__range-values {
  @include tablet {
    width: 9%;
  }

  @include mobile {
    width: 17%;
    margin-left: 3%;
  }

  @media (min-width: 321px) and (max-width: 606px) {
    width: 17%;
  }

  @media (min-width: 1201px) and (max-width: 1919px) {
    width: 5.5%;
  }
}

.how-works__range-value {
  width: auto;
  margin-left: 13%;
  text-align: right;

  &--active {
    margin-left: 0;
  }
}

.how-works__range-input {
  width: 31%;

  @include desktop {
    width: 33%;
  }

  @include tablet {
    width: 41%;
  }

  @include mobile {
    width: 78%;
  }
}

.how-works__range-input::-webkit-slider-thumb {
  width: calc(100% / 4 + 19px);

  @include mobile {
    width: 80px;
  }
}
