.how-works {
  padding-top: 99px;
  padding-bottom: 100px;
  background-color: $bg-white2-color;

  @include tablet {
    padding-bottom: 69px;
  }

  @include mobile {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.how-works__wrapper {
  @include wrapper-middle;
  display: flex;
  flex-direction: column;

  @include desktop {
    @include wrapper-wide;
  }

  @include tablet {
    @include wrapper-widest;
  }

  @include mobile {
    @include wrapper-widest;
  }
}

.how-works__title {
  @include h2-model;
  margin-bottom: 32px;

  @include mobile {
    margin-bottom: 21px;
    font-size: 36px;
    line-height: 42px;
  }
}

.how-works__description {
  @include p-model;
  margin-bottom: 29px;

  @include desktop {
    margin-bottom: 13px;
  }

  @include tablet {
    margin-bottom: 29px;
  }
}

.how-works__slider-list {
  margin-bottom: 24px;

  @include mobile {
    margin-bottom: 15px;
  }
}

.how-works__slider-item {
  width: 100%;
}

.how-works__link {
  align-self: center;
  padding-top: 19px;
  padding-bottom: 15px;

  @include mobile {
    margin-left: 4%;
  }
}

.how-works__range {
  @include mobile {
    margin-bottom: 22px;
  }
}

.how-works__range-values {
  @include tablet {
    width: 9%;
  }

  @include mobile {
    width: 17%;
    margin-left: 3%;
  }
}

.how-works__range-input {
  @include mobile {
    width: 78%;
  }
}

.how-works__range-input::-webkit-slider-thumb {
  @include mobile {
    width: 80px;
  }
}
