.logo {
  margin-right: 26%;

  @include desktop {
    margin-right: 9%;
  }

  @include tablet {
    width: 59px;
    margin-right: 68.6%;
  }

  @include mobile {
    margin-right: 0;
  }

  @media (min-width: 321px) and (max-width: 639px) {
    margin-right: auto;
  }
}

.logo__image {
  width: 100%;
}
