.main-nav {
  display: flex;
  justify-content: center;
  width: 40.5%;

  @include desktop {
    width: 69%;
  }

  @include tablet {
    position: absolute;
    top: 80px;
    right: 50px;
    width: 20%;
  }

  @include mobile {
    position: absolute;
    top: 104px;
    right: 32px;
    width: 30%;
  }
}

.main-nav__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    z-index: 10;
    background-color: $bg-white1-color;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    z-index: 10;
    background-color: $bg-white1-color;
  }
}

.main-nav__item {
  display: flex;
  justify-content: center;
  padding: 8px 6.3%;

  @include desktop {
    padding: 8px 4%;
  }

  @media (min-width: 1201px) and (max-width: 1879px) {
    padding: 8px 4%;
  }
  @media (min-width: 641px) and (max-width: 800px) {
    padding: 8px 2%;
  }
}

.main-nav__link {
  @include text-options(16px, 19px, 500, $title-grey-dark-color);
  position: relative;
  width: 100%;
  text-align: center;
  cursor: default;

  &::after {
    position: absolute;
    display: none;
    content: "";
    width: 100%;
    height: 1px;

    background: $title-grey-dark-color;
  }

  &--current {
    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 1px;

      background: $title-grey-dark-color;
    }
  }

  &[href] {
    cursor: pointer;
  }

  &[href]:hover,
  &[href]:focus {
    font-weight: 900;
  }

  &[href]:active::after {
    display: block;
  }
}

.main-nav__toggle {
  display: none;

  @include desktop {
    display: none;
  }

  @include tablet {
    display: block;
    position: relative;

    width: 38px;
    height: 30px;
    z-index: 100;

    font-size: 0;

    background-color: transparent;
    border: none;
    cursor: pointer;

    &::before {
      @include tablet {
        content: "";

        position: absolute;
        top: 3px;
        left: 0;

        width: 100%;
        height: 3px;

        background-color: $title-grey-dark-color;
        box-shadow: 0 10px 0 0 $title-grey-dark-color, 0 19px 0 0 $title-grey-dark-color;
      }
    }
  }

  @include mobile {
    display: block;
    position: relative;

    width: 41px;
    height: 31px;
    margin-left: 2%;
    margin-right: 0;
    z-index: 100;

    font-size: 0;

    background-color: transparent;
    border: none;
    cursor: pointer;

    &::before {
      @include mobile {
        content: "";

        position: absolute;
        top: 5px;
        left: 0;

        width: 100%;
        height: 3px;

        background-color: $title-grey-dark-color;
        box-shadow: 0 9px 0 0 $title-grey-dark-color, 0 18px 0 0 $title-grey-dark-color;
      }
    }
  }
}

.menu-closed.main-nav__toggle::before {
  @include tablet {
    content: "";

    position: absolute;
    top: 5px;
    left: 0;

    width: 100%;
    height: 3px;

    background-color: $title-grey-dark-color;
    box-shadow: 0 10px 0 0 $title-grey-dark-color, 0 19px 0 0 $title-grey-dark-color;
  }

  @include mobile {
    content: "";

    position: absolute;
    top: 5px;
    left: 0;

    width: 100%;
    height: 3px;

    background-color: $title-grey-dark-color;
    box-shadow: 0 9px 0 0 $title-grey-dark-color, 0 18px 0 0 $title-grey-dark-color;
  }
}

.menu-opened.main-nav__toggle {
  @include tablet {

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 13px;
      left: -2px;
      width: 40px;
      height: 3px;

      background-color: $title-grey-dark-color;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  @include mobile {

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 14px;
      left: 0;
      width: 40px;
      height: 3px;

      background-color: $title-grey-dark-color;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--closed .main-nav__item {
  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.main-nav--nojs .main-nav__item {
  @include tablet {
    display: block;
  }

  @include mobile {
    display: block;
  }
}
