.map {
  padding-top: 98px;
  padding-bottom: 100px;
  background-color: $switch-grey-color;

  &--map-page {
    padding-top: 50px;
    background-color: $bg-white2-color;
  }

  @include tablet {
    padding-bottom: 79px;
  }

  @include mobile {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  @media (min-width: 321px) and (max-width: 548px) {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.map__wrapper {
  @include wrapper-wide;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    @include wrapper-widest;
  }
}

.map__title {
  @include h2-model;
  margin-bottom: 61px;

  @include desktop {
    margin-bottom: 95px;
  }

  @include tablet {
    margin-bottom: 73px;
  }

  @include mobile {
    margin-bottom: 41px;
    font-size: 36px;
    line-height: 42px;
  }

  @media (min-width: 321px) and (max-width: 548px) {
    margin-bottom: 43px;
    font-size: 36px;
    line-height: 42px;
  }
}

.map__img {
  position: relative;
  margin-bottom: 32px;

  &--map-page {
    margin-bottom: 43px;
  }

  @include desktop {
    margin-bottom: 62px;
  }

  @include tablet {
    margin-bottom: 53px;
  }

  @include mobile {
    margin-bottom: 36px;
  }

  @media (min-width: 321px) and (max-width: 548px) {
    margin-bottom: 36px;
  }
}

.map__img-svg {
  width: 100%;
  stroke: $title-grey-dark-color;

  @include desktop {
    width: 100%;
    transform: scaleY(1.16);
  }
}

.map__pin-wrapper {
  position: absolute;

  &--eagles {
    top: calc(33% - 93px);
    left: calc(13.2% - 66px / 2);
    // top: 14.4%;
    // left: 10.2%;
  }

  &--crocodile {
    top: calc(39% - 93px);
    left: calc(23.3% - 66px / 2);
    // top: 20%;
    // left: 20.5%;
  }

  &--gorilla {
    top: calc(56.2% - 93px);
    left: calc(50.5% - 66px / 2);
    // top: 37.7%;
    // left: 47.7%;
  }

  &--panda {
    top: calc(36% - 93px);
    right: calc(22.5% - 66px / 2);
    // top: 17.8%;
    // right: 20.1%;
  }

  &:hover .map__pin-tooltip {
    opacity: 1;
    z-index: 100;
  }

  .map__img--map-page & {
    &--eagles {
      top: 16.4%;
      left: 11.2%;
    }

    &--crocodile {
      top: 20%;
      left: 20.5%;
    }

    &--gorilla {
      top: 37.7%;
      left: 47.7%;
    }

    &--panda {
      top: 19.8%;
      right: -11.9%;
    }

    &:hover .map__pin-tooltip {
      opacity: 1;
      z-index: 100;
    }
  }

  @include desktop {
    &--eagles {
      top: calc(31% - 93px);
      // left: calc(13.2% - 66px / 2);
      // top: 14.4%;
      // left: 10.2%;
    }

    &--crocodile {
      top: calc(34% - 93px);
      // left: calc(23.3% - 66px / 2);
      // top: 20%;
      // left: 20.5%;
    }

    &--panda {
      top: calc(34% - 93px);
      right: calc(23.5% - 66px / 2);
      // top: 20%;
      // left: 20.5%;
    }
  }

  @include tablet {
    &--eagles {
      left: calc(14.5% - 66px / 2);
      // left: calc(23.3% - 66px / 2);
      // top: 20%;
      // left: 20.5%;
    }
  }

  @include mobile {
    &--eagles {
      top: calc(62% - 93px);
      left: calc(19.5% - 66px / 2);
    }

    &--crocodile {
      top: calc(68% - 93px);
      left: calc(28.5% - 66px / 2);
    }

    &--gorilla {
      top: calc(85.2% - 93px);
      left: calc(55.5% - 66px / 2);
    }

    &--panda {
      top: calc(66% - 93px);
      right: calc(27.5% - 66px / 2);
    }
  }

  @media (min-width: 321px) and (max-width: 548px) {
    &--eagles {
      top: calc(62% - 93px);
      left: calc(19.5% - 66px / 2);
    }

    &--crocodile {
      top: calc(68% - 93px);
      left: calc(28.5% - 66px / 2);
    }

    &--gorilla {
      top: calc(85.2% - 93px);
      left: calc(55.5% - 66px / 2);
    }

    &--panda {
      top: calc(66% - 93px);
      right: calc(27.5% - 66px / 2);
    }
  }
}

.map__pin-wrapper-img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 66px;
  height: 93px;
  background: url("../../assets/images/pin-green.svg") no-repeat center;
  cursor: pointer;

  &:hover {
    background-image: url("../../assets/images/pin-red.svg");
  }

  &--active {
    background-image: url("../../assets/images/pin-red.svg");
  }

  @include mobile {
    width: 34px;
    height: 47px;
    background-size: 34px 47px;
  }

  @media (min-width: 321px) and (max-width: 548px) {
    width: 34px;
    height: 47px;
    background-size: 34px 47px;
  }
}

.map__pin-img {
  margin-top: 16px;

  @include mobile {
    width: 22px;
    height: 22px;
    margin-top: 7px;
  }

  @media (min-width: 321px) and (max-width: 548px) {
    width: 22px;
    height: 22px;
    margin-top: 7px;
  }
}

.map__pin-tooltip {
  pointer-events: none;
  transition: 0.5s;
  z-index: 1;

  &--eagles {
    top: 78px;
    left: -403px;
  }

  &--crocodile {
    opacity: 0;
    top: -131px;
    left: 0;
  }

  &--gorilla {
    opacity: 0;
    top: 87px;
    left: -300px;
  }

  &--panda {
    opacity: 0;
    top: 78px;
    left: 0;
  }

  @include desktop {
    &--eagles {
      left: 14px;
    }

    &--panda {
      left: -84px;
    }
  }

  @include tablet {
    &--eagles {
      top: 71px;
      left: 26px;
    }

    &--crocodile {
      top: -63px;
      z-index: 2;
    }

    &--panda {
      left: -263px;
    }
  }

  @include mobile {
    &--eagles {
      top: 37px;
      left: 5px;
    }

    &--gorilla {
      top: 7px;
      left: -104px;
    }

    &--panda {
      top: 32px;
      left: -186px;
    }
  }

  @media (min-width: 1201px) and (max-width: 1275px) {
    &--eagles {
      left: -227px;
    }

    &--panda {
      left: -74px;
    }
  }

  @media (min-width: 641px) and (max-width: 1017px) {
    &--eagles {
      left: -23px;
    }

    &--gorilla {
      left: -253px;
    }

    &--panda {
      left: -235px;
    }
  }

  @media (min-width: 321px) and (max-width: 548px) {
    &--eagles {
      top: 37px;
      left: 5px;
    }

    &--gorilla {
      top: 7px;
      left: -104px;
    }

    &--panda {
      top: 32px;
      left: -186px;
    }
  }
}

.map__link {
  padding-top: 19px;
  padding-bottom: 15px;
}
