.page-main {
  &--zoos {
    background-color: $bg-white2-color;
  }
}

.page-main__wrapper {
  @include wrapper-widest;
  position: relative;
  display: flex;

  @include tablet {
    flex-wrap: wrap;
  }

  @media (min-width: 641px) and (max-width: 974px) {
    flex-wrap: wrap;
  }
}
