.page-footer {
  padding-top: 100px;
  padding-bottom: 72px;
  background-color: $title-grey-dark-color;

  @include tablet {
    padding-top: 96px;
  }

  @include mobile {
    padding-top: 50px;
    padding-bottom: 27px;
  }
}

.page-footer__wrapper {
  @include wrapper-widest;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @include desktop {
    position: relative;
  }

  @include tablet {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.page-footer__logo {
  margin-right: 45.5%;

  @include desktop {
    margin-right: 42.5%;
    margin-bottom: 41px;
  }

  @include tablet {
    margin-bottom: 0;
  }

  @include mobile {
    order: 0;
    margin-bottom: 10px;
  }
}

.page-footer__nav-list {
  position: relative;
  width: 26.8%;
  margin-right: 7%;
  top: 12px;

  @include desktop {
    width: 45.8%;
    margin-right: 0;
  }

  @include tablet {
    align-items: flex-start;
    margin-bottom: 17px;
    background-color: transparent;
  }

  @include mobile {
    order: 1;
  }
}

.page-footer__nav-item {
  color: $text-white-color;

  @include tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0;
  }
}

.page-footer__nav-link {
  color: $text-white-color;

  @include tablet {
    @include text-options(16px, 19px, 600, $text-white-color);
  }
}

.page-footer__button {
  width: 275px;
  margin-bottom: 56px;
  padding-top: 17px;
  padding-bottom: 17px;

  @include desktop {
    position: absolute;
    top: 55.5%;
    right: 26.2%;
  }

  @include tablet {
    top: 0;
    right: 3.2%;
  }

  @include mobile {
    position: unset;
    align-self: center;
    margin-bottom: 79px;
    order: 4;
  }
}

.page-footer__feedback {
  width: 24.5%;
  margin-right: 26.3%;
  margin-bottom: 57px;

  @include desktop {
    width: 44.5%;
    margin-right: 6.7%;
    margin-bottom: 61px;
    padding-top: 12px;
  }

  @include tablet {
    width: 66.5%;
    margin-bottom: 74px;
  }

  @include mobile {
    order: 2;
    width: 100%;
    margin-right: 0;
    margin-bottom: 53px;
  }
}

.page-footer__contacts {
  width: 15%;
  margin-right: 20%;

  @include desktop {
    width: 27%;
    margin-right: 0;
  }

  @include tablet {
    width: 43%;
    margin-bottom: 65px;
  }

  @include mobile {
    order: 3;
    width: 85%;
    margin-bottom: 41px;
  }
}

.page-footer__copyright {
  width: 100%;
  border-top: 0.5px solid $text-white-color;

  @include mobile {
    order: 5;
  }
}
