.page-header {
  padding: 27px 0 21px;
  background-color: var(--bg-color);
  box-shadow: 0 4px 8px rgba(44, 101, 77, 0.08);

  @include desktop {
    padding: 26px 0 23px;
  }

  @include tablet {
    position: fixed;
    width: 100%;
    z-index: 15;
  }

  @include mobile {
    padding: 25px 0 21px;
  }

  @media (min-width: 321px) and (max-width: 639px) {
    padding: 25px 0 21px;
  }
}

.page-header__wrapper {
  @include wrapper-widest;
  display: flex;

  @include tablet {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: 321px) and (max-width: 639px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--map-page {
    @include tablet {
      @include wrapper-widest;
    }
  }
}
