.range {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.range__values {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 7%;
  margin-bottom: 15px;
  text-align: center;
}

.range__value {
  @include text-options(14px, 20px, 900, $range-gray-color);

  &--active {
    @include text-options(24px, 28px, 900, $title-grey-dark-color);
    position: relative;

    &::after {
      position: absolute;
      content: " /";
    }
  }
}

.range__input {
  -webkit-appearance: none;
  width: 245px;

  @include mobile {
    width: 137px;
  }
}

.range__input:focus {
  outline: none;
}

.range__input::-webkit-slider-runnable-track{
  width: 245px;
  height: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
  background: rgba(189, 189, 189, 0.57);
}

.range__input::-webkit-slider-thumb {
  height: 10px;
  width: 62px;
  background: $title-grey-dark-color;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}

.range__input:focus::-webkit-slider-runnable-track {
  background: rgba(189, 189, 189, 0.57);
}

.range__input::-moz-range-track {
  width: 245px;
  height: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
  background: rgba(189, 189, 189, 0.57);
}

.range__input::-moz-range-thumb {
  height: 10px;
  width: 30px;
  background: $text-white-color;
  cursor: pointer;
}

.range__input::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  transition-duration: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.range__input::-ms-fill-lower {
  background: rgba(189, 189, 189, 0.57);
}

.range__input::-ms-fill-upper {
  background: rgba(189, 189, 189, 0.57);
}

.range__input::-ms-thumb {
  margin-top: 1px;
  height: 24px;
  width: 35px;
  background: $text-white-color;
  cursor: pointer;
}

.range__input:focus::-ms-fill-lower {
  background: rgba(189, 189, 189, 0.57);
}

.range__input:focus::-ms-fill-upper {
  background: rgba(189, 189, 189, 0.57);
}
