.reviews {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $bg-white2-color;

  @include mobile {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.reviews__wrapper {
  @include wrapper-widest;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @include desktop {
    max-width: 100%;
    padding: 0;
  }

  @include tablet {
    @include wrapper-widest;
  }
}

.reviews__title {
  @include h2-model;
  margin-bottom: 50px;

  @include desktop {
    margin-bottom: 49px;
  }

  @include tablet {
    margin-bottom: 36px;
  }

  @include mobile {
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 42px;
  }
}

.reviews__slider {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 1298px;
  margin-bottom: 39px;

  @include desktop {
    max-width: 1004px;
    margin-bottom: 35px;
  }

  @include tablet {
    justify-content: flex-start;
    margin-bottom: 37px;
  }

  @include mobile {
    margin-bottom: 29px;
  }
}

.reviews__slider-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 2ms;

  &:hover .reviews__button-icon {
    transform: scale(1.2);
    filter: drop-shadow(0 0 8px $main-green-color);
  }

  @include desktop {
    position: relative;
    top: 5px;
  }

  @include tablet {
    display: none;
  }
}

.reviews__button-icon {
  fill: $title-grey-dark-color;
}

.reviews__slider-list {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  overflow: hidden;

  @include desktop {
    justify-content: center;
  }

  @include tablet {
    justify-content: flex-start;
  }
}

.reviews__slider-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(94.3% / 2);
  margin-left: 1.5%;
  margin-right: 1.5%;
  padding-top: 49px;
  padding-bottom: 103px;
  padding-left: 72px;
  padding-right: 67px;
  background: $text-white-color;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
  border-radius: 5px;

  @include desktop {
    width: calc(94% / 2);
    margin-left: 1%;
    margin-right: 1%;
    padding: 48px 50px 89px 57px;
  }

  @include tablet {
    width: 97%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding: 46px 50px 104px 70px;

    &:first-child {
      display: none;
    }
  }

  @include mobile {
    padding: 49px 9px 110px 9px;

    &:first-child {
      display: flex;
    }
  }
}

.reviews__item-picture {
  @include desktop {
    height: 84px;
  }

  @include tablet {
    margin-right: 5%;
  }

  @include mobile {
    height: auto;
    margin-right: 0;
    margin-bottom: 2px;
  }
}

.reviews__item-img {
  margin-bottom: 12px;

  @include desktop {
    margin-right: 7px;
    margin-bottom: 18px;
  }

  @include tablet {
    margin-right: 5%;
    margin-bottom: 16px;
    padding-right: 0;
  }

  @include mobile {
    margin-right: 0;
    margin-bottom: 43px;
  }
}

.reviews__item-name {
  @include text-options(20px, 23px, 900, $title-grey-dark-color);
  margin-bottom: 17px;

  @include desktop {
    margin-right: 7px;
  }

  @include tablet {
    margin-right: 5%;
    margin-bottom: 19px;
  }

  @include mobile {
    margin-right: 0;
    margin-bottom: 21px;
    font-size: 16px;
    line-height: 19px;
  }
}

.reviews__slider-item-text {
  @include text-options(14px, 16px, 400, $text-grey-color);
  margin: 0;
}

.reviews__range {
  margin-bottom: 32px;

  @include mobile {
    margin-bottom: 21px;
  }
}

.reviews__range-values {
  width: 21%;

  // @include mobile {
  //   width: 38%;
  // }
}

.reviews__range-input {
  width: 245px;
}

.reviews__range-input::-webkit-slider-thumb {
  width: 34px;
}

.reviews__link {
  padding-top: 19px;
  padding-bottom: 15px;
}
