.sidebar {
  position: absolute;
  height: 90%;
  bottom: 0;
  top: 59px;
  left: 1.4%;
}

.sidebar__wrapper {
  position: sticky;
  height: 610px;
  top: 59px;
  bottom: 59px;
}

.sidebar__slider {
  align-items: center;
  position: sticky;
}

.sidebar__slider-list {
  flex-direction: column;
  width: 158px;
  height: 517px;
  overflow: hidden;
}

.sidebar__slider-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(71% / 3);
  transition: 0.5s;

  &:hover .sidebar__item-img {
    filter: drop-shadow(0 -3px 7px $text-grey-color);
  }

  &--active {
    width: 100%;
    height: 30%;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    background-image: linear-gradient(white, white), linear-gradient(to right, #07eee0 0%, #df496d 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;

    &:hover .sidebar__item-img {
      filter: none;
      cursor: default;
    }
  }
}

.sidebar__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background: transparent;
}

.sidebar__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;

  &--active {
    transform: scale(1.3);
  }
}

.sidebar__slider-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 2ms;

  &:hover .sidebar__button-icon {
    transform: scale(1.2) rotate(90deg);
    filter: drop-shadow(0 0 8px $main-green-color);
  }

  &--top {
    margin-bottom: 10%;
  }

  &--bottom {
    margin-top: 10%;
  }
}

.sidebar__button-icon {
  width: 23px;
  height: 23px;
  fill: $title-grey-dark-color;
  transform: rotate(90deg);

  &--top {
    fill: #828282;
    transform: rotate(90deg);
  }
}
