.sidebar {
  position: absolute;
  min-width: 180px;
  height: 90%;
  bottom: 0;
  top: 59px;
  left: 0.75%;

  @include desktop {
    min-width: 152px;
    left: 0;
  }

  @include tablet {
    min-width: 105px;
    height: 83%;
    left: 0;
    top: 152px;
  }

  @include mobile {
    min-width: 75px;
    top: 126px;
  }
}

.sidebar__wrapper {
  position: sticky;
  height: 610px;
  top: 59px;
  bottom: 59px;

  @include desktop {
    height: 532px;
  }

  @include tablet {
    height: 424px;
  }

  @include mobile {
    height: 280px;
  }
}

.sidebar__slider {
  align-items: center;
  // position: sticky;
}

.sidebar__slider-list {
  flex-direction: column;
  width: 100%;
  height: 532px;
  overflow: hidden;

  @include desktop {
    height: 449px;
  }

  @include tablet {
    height: 330px;
  }

  @include mobile {
    height: 200px;
  }
}

.sidebar__slider-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 124px;
  transition: 0.5s;

  &:hover .sidebar__item-img {
    filter: drop-shadow(0 -3px 7px var(--text-paragraph-color));
  }

  &--active {
    width: calc(124px * 1.25);
    height: calc(124px * 1.25);
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    background-image: linear-gradient(white, white), linear-gradient(to right, #07eee0 0%, #df496d 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;

    &:hover .sidebar__item-img {
      filter: none;
      cursor: default;
    }
  }

  @include desktop {
    width: 109px;
    height: 109px;

    &--active {
      width: calc(109px * 1.09);
      height: calc(109px * 1.09);
    }
  }

  @include tablet {
    width: 79px;
    height: 79px;

    &--active {
      width: calc(79px * 1.15);
      height: calc(79px * 1.15);
    }
  }

  @include mobile {
    width: 44px;
    height: 44px;

    &--active {
      width: calc(44px * 1.45);
      height: calc(44px * 1.45);
      margin-bottom: 5px;
    }
  }
}

.sidebar__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background: transparent;

  &--active {
    transform: scale(1.3);
  }

  @include tablet {
    &--active {
      transform: scale(1.1);
    }
  }

  @include mobile {
    &--active {
      transform: scale(1.15);
    }
  }
}

.sidebar__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;

  &--active {
    transform: scale(1.3);
  }

  @include desktop {
    transform: scale(0.9);

    .sidebar__item-link--active & {
      transform: scale(0.76);
    }
  }

  @include tablet {
    .sidebar__item-link--active & {
      transform: scale(0.8);
    }
  }
}

.sidebar__slider-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 2ms;

  &:hover .sidebar__button-icon {
    transform: scale(1.2) rotate(90deg);
    filter: drop-shadow(0 0 8px $main-green-color);
  }

  &--top {
    margin-bottom: 13px;
  }

  &--bottom {
    margin-top: 0;
  }

  @include desktop {
    &--top {
      margin-bottom: 16px;
    }
  }

  @include tablet {
    &--top {
      margin-bottom: 18px;
    }

    &--bottom {
      margin-top: 17px;
    }
  }

  @include mobile {
    &--top {
      margin-bottom: 5px;
    }

    &--bottom {
      margin-top: 9px;
    }
  }
}

.sidebar__button-icon {
  width: 23px;
  height: 23px;
  fill: var(--text-title-color);
  transform: rotate(90deg);

  &--top {
    fill: #828282;
    transform: rotate(90deg);
  }
}
