.switch {
  position: relative;
  display: inline-block;
  margin-left: auto;
  width: 55px;
  height: 38px;
}

.switch input {
  display: none;
}


.switch__slider {
  position: absolute;
  cursor: pointer;
  width: 54px;
  height: 30px;
  top: 5px;
  left: 1px;
  right: 2px;
  bottom: 0;
  background-color: $switch-grey-color;
  transition: 0.4s;
  border-radius: 190px;
}

.switch__slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 5px;
  bottom: 5px;
  background-color: $bg-white1-color;
  border-radius: 50%;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  transition: 0.4s;
}

input:checked + .switch__slider {
  background-color: $switch-grey-dark-color;
}

.swicth__slider:focus {
  outline: 2px solid $switch-grey-dark-color;
}

input:checked + .switch__slider::before {
  transform: translateX(26px);
}
