.watch {
  padding-top: 205px;
  padding-bottom: 103px;
  background: url("../../assets/images/background-index.jpg") no-repeat;
  background-size: cover;
}

.watch__wrapper {
  @include wrapper-widest;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 360px;
}

.watch__title {
  @include h2-model;
  width: 60%;
  margin-bottom: 38px;
  font-size: 90px;
  line-height: 104px;
  color: $text-white-color;
  letter-spacing: -0.5px;
}

.watch__link {
  position: relative;
  margin-bottom: 216px;
  padding-top: 19px;
  padding-bottom: 15px;
}

.watch__slider {
  position: absolute;
  width: 56.3%;
  min-height: 352px;
  padding-left: 5.9%;
  top: 200px;
  right: 0;
}

.watch__slider-list {
  position: relative;
  align-items: flex-start;
  min-height: 352px;

  &::before {
    position: absolute;
    content: "";
    background: url("../../assets/images/round-circle.svg") no-repeat;
    width: 13px;
    height: 13px;
    top: 183px;
    left: -113px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 112%;
    height: 1px;
    top: 189px;
    left: -107px;
    background-color: $text-white-color;
    z-index: 0;
  }
}

.watch__slider-item {
  position: relative;
  display: flex;
  width: 186px;
  height: 203px;
  padding-left: 23px;
  padding-right: 23px;
  top: 90px;
  z-index: 1;
  transition: 0.2s;

  .watch__item-wrapper {
    display: none;
  }

  &:hover .watch__slider-item-img {
    filter: brightness(50%);
    cursor: pointer;
    top: 0;
    z-index: 1;
    transform: scale(1.75);
  }

  &:hover {
    top: 74px;
    z-index: 5;
  }

  &:hover .watch__item-wrapper {
    display: flex;
    z-index: 2;
    animation: bounce-watch 0.6s;
    width: 136%;
    left: -23px;
    bottom: -58px;
  }

  &--active {
    width: calc(186px * 1.55);
    margin-top: 0;
    height: 352px;
    top: 0;
    z-index: 1;

    .watch__item-wrapper {
      display: flex;
    }

    &:hover {
      top: 0;
      transform: scale(1);
    }

    &:hover .watch__item-wrapper {
      display: flex;
      width: 93%;
      left: 24px;
      bottom: 32px;
      animation: bounce-watch 0.6s;
    }

    &:hover .watch__slider-item-img {
      transform: scale(1);
    }
  }
}

.watch__item-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  bottom: 31px;
}

.watch__slider-item-img {
  border-radius: 5px;
}

.watch__slider-item-description {
  @include text-options(14px, 16px, 400, $bg-white1-color);
  width: 82%;
  margin: 0 auto;
  margin-bottom: 13px;
}

.watch__slider-item-link {
  @include text-options(12px, 14px, 500, $main-green-color);
  padding-top: 6px;
  padding-bottom: 6px;
  text-transform: uppercase;

  &--watch {
    width: 54%;
    padding-left: 49px;
    background: url("../../assets/images/arrow-circle-watch.svg") no-repeat;
    background-position: 21px 0;

    &:hover {
      color: $bg-white1-color;
      background-image: url("../../assets/images/arrow-circle-watch-white.svg");
    }
  }

  &--donate {
    width: 46%;
    padding-left: 33px;
    color: $bg-white1-color;
    background: url("../../assets/images/arrow-circle-watch-donate.svg") no-repeat;
    background-position: 2px 0;

    &:hover {
      color: $main-green-color;
      background-image: url("../../assets/images/arrow-circle-watch-donate-green.svg");
    }
  }
}

.watch__range {
  position: absolute;
  width: 12.8%;
  margin-bottom: 0;
  right: 26.8%;
  bottom: -103px;
}

.watch__range-values {
  width: 21%;
}

.watch__range-value {
  color: $range-gray-color;

  &--active {
    color: $text-white-color;
  }
}

.watch__range-input::-webkit-slider-thumb {
  height: 10px;
  width: 30px;
  background: $text-white-color;
}

.watch__social-list {
  @include list-reset;
  @include wrapper-widest;
}

.watch__social-item {
  &:first-child {
    margin-bottom: 10px;
  }

  &:nth-child(2) {
    margin-bottom: 5px;
  }

  &:nth-child(3) {
    margin-bottom: 4px;
  }
}

.watch__social-link {
  font-size: 0;

  &:hover .watch__social-icon {
    fill: $main-green-color;
  }
}

.watch__social-icon {
  fill: $text-white-color;
}
