.watch {
  padding-top: 205px;
  padding-bottom: 103px;
  background: url("../../assets/images/background-index.jpg") no-repeat;
  background-size: cover;
}

.watch__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 360px;
}

.watch__title {
  @include h2-model;
  width: 60%;
  margin-bottom: 38px;
  font-size: 90px;
  line-height: 104px;
  color: $text-white-color;
  letter-spacing: -0.5px;
}

.watch__link {
  position: relative;
  margin-bottom: 216px;
  padding-top: 19px;
  padding-bottom: 15px;
}

.watch__slider {
  position: absolute;
  width: 56.2%;
  padding-left: 5.8%;
  min-height: 352px;
  top: 172px;
  right: 0;
}

.watch__slider-list {
  position: relative;
  padding-top: 43px;

  &::before {
    position: absolute;
    content: "";
    background: url("../../assets/images/round-circle.svg") no-repeat;
    width: 13px;
    height: 13px;
    top: 211px;
    left: -112px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 112%;
    height: 1px;
    top: 217px;
    left: -107px;
    background-color: $text-white-color;
    z-index: 0;
  }
}

.watch__slider-item {
  position: relative;
  width: 186px;
  padding-left: 23px;
  padding-right: 23px;

  .watch__item-wrapper {
    display: none;
  }

  &--active {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 291px;
    min-height: 352px;
    // padding-left: 25px;
    // padding-right: 24px;
    // padding: 198px 48px 51px 46px;

    .watch__item-wrapper {
      display: flex;
    }
  }

  &:hover .watch__slider-item-img {
    filter: brightness(50%);
    cursor: pointer;
  }

  &:hover .watch__item-wrapper {
    display: flex;
    animation: bounce-watch 0.6s;
  }
}

.watch__item-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 46px;
  z-index: 10;
}

.watch__slider-item-img {
  border-radius: 5px;
  z-index: 1;

  &--active {
    position: absolute;
    top: -14px;
    left: 23px;
  }
}

.watch__slider-item-description {
  @include text-options(14px, 16px, 400, $bg-white1-color);
  // position: absolute;
  width: 82%;
  margin: 0 auto;
  margin-bottom: 13px;
  // left: 23px;
  // bottom: 86px;
}

.watch__slider-item-link {
  @include text-options(12px, 14px, 500, $main-green-color);
  // position: absolute;
  // display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
  // bottom: 47px;
  text-transform: uppercase;

  &--watch {
    width: 57%;
    margin-right: auto;
    padding-left: 49px;
    background: url("../../assets/images/arrow-circle-watch.svg") no-repeat;
    background-position: 21px 0;

    &:hover {
      color: $bg-white1-color;
      background-image: url("../../assets/images/arrow-circle-watch-white.svg");
    }
  }

  &--donate {
    width: 43%;
    padding-left: 33px;
    color: $bg-white1-color;
    background: url("../../assets/images/arrow-circle-watch-donate.svg") no-repeat;
    background-position: 8px 0;

    &:hover {
      color: $main-green-color;
      background-image: url("../../assets/images/arrow-circle-watch-donate-green.svg");
    }
  }
}

.watch__range {
  position: absolute;
  width: 12.8%;
  margin-bottom: 0;
  right: 26.8%;
  bottom: -103px;
}

.watch__range-values {
  width: 21%;
}

.watch__range-value {
  color: $range-gray-color;

  &--active {
    color: $text-white-color;
  }
}

.watch__range-input::-webkit-slider-thumb {
  height: 10px;
  width: 30px;
  background: $text-white-color;
}

.watch__social-list {
  @include list-reset;
  @include wrapper-widest;
}

.watch__social-item {
  &:first-child {
    margin-bottom: 10px;
  }

  &:nth-child(2) {
    margin-bottom: 5px;
  }

  &:nth-child(3) {
    margin-bottom: 4px;
  }
}

.watch__social-link {
  font-size: 0;
}
