.watch {
  padding-top: 205px;
  padding-bottom: 103px;
  background: url("../../assets/images/background-index.jpg") no-repeat;
  background-size: cover;

  @include desktop {
    padding-top: 126px;
    padding-bottom: 64px;
    background: url("../../assets/images/background-index-desktop1200.jpg") no-repeat;
    background-size: cover;
  }

  @include tablet {
    padding-top: 215px;
    padding-bottom: 93px;
    background: url("../../assets/images/background-index-tablet.jpg") no-repeat;
    background-size: cover;
  }

  @include mobile {
    padding-top: 183px;
    padding-bottom: 8px;
    background: url("../../assets/images/background-index-mobile.jpg") no-repeat;
    background-size: cover;
  }
}

.watch__wrapper {
  @include wrapper-widest;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 18.8%;

  @include desktop {
    margin-bottom: 103px;
  }

  @include tablet {
    margin-bottom: 0;
  }

  @media (min-width: 1201px) and (max-width: 1783px) {
    padding-left: 11.8%;
  }
}

.watch__title {
  @include h2-model;
  width: 60%;
  margin-bottom: 38px;
  font-size: 90px;
  line-height: 104px;
  color: $text-white-color;
  letter-spacing: -0.5px;

  @include desktop {
    width: 92%;
  }

  @include tablet {
    width: 100%;
    margin-bottom: 31px;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.1px;
  }

  @include mobile {
    width: 100%;
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.1px;
  }

  @media (max-width: 445px) {
    width: 100%;
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.1px;
  }

  @media (min-width: 641px) and (max-width: 1136px) {
    width: 100%;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.1px;
  }

  @media (min-width: 1201px) and (max-width: 1676px) {
    width: 100%;
  }

  @media (min-width: 1677px) and (max-width: 1783px) {
    width: 60%;
  }
}

.watch__link {
  position: relative;
  margin-bottom: 216px;
  padding-top: 19px;
  padding-bottom: 15px;

  @include tablet {
    margin-bottom: 369px;
  }

  @include mobile {
    margin-bottom: 331px;
  }
}

.watch__slider {
  position: absolute;
  width: 56.3%;
  min-height: 352px;
  padding-left: 5.9%;
  top: 200px;
  right: 0;

  @include desktop {
    width: 60%;
    top: 304px;
    padding-left: 10.2%;
  }

  @include tablet {
    width: 92%;
    padding-left: 8.9%;
    top: 286px;
  }

  @include mobile {
    width: 100%;
    padding-left: 5.9%;
    top: 198px;
    left: 0;
  }

  @media (min-width: 756px) and (max-width: 1136px) {
    top: 247px;
  }
}

.watch__slider-dots {
  @include list-reset;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 13px;
  top: 183px;
  right: 0;
  z-index: 0;

  &::after {
    position: absolute;
    content: "";
    width: 99%;
    height: 1px;

    background-color: $text-white-color;
  }
}

.watch__slider-dots-item {
  top: 2px;
  width: 18%;
  height: 13px;
  background: url("../../assets/images/round-circle.svg") no-repeat center left;

  &:first-child {
    width: 19%;
  }

  &:nth-child(2),
  &:nth-child(3) {
    width: 22.6%;
  }
}

.watch__slider-list {
  position: relative;
  align-items: center;
}

.watch__slider-item {
  position: relative;
  display: flex;
  justify-content: center;
  width: 19.2%;
  padding-left: 2.2%;
  padding-right: 2.2%;
  z-index: 1;
  transition: 0.1s;
  transition-timing-function: linear;

  .watch__item-wrapper {
    display: none;
  }

  &:hover {
    width: calc(19.2% * 1.55);
    margin-top: 0;
    top: 0;

    & .watch__item-wrapper {
      display: flex;
      padding-left: 16%;
      padding-right: 16%;
      animation: bounce-watch 0.6s;
    }

    & .watch__slider-item-img {
      filter: brightness(50%);
      cursor: pointer;
    }
  }

  &--active {
    width: calc(19.2% * 1.55);
    margin-top: 0;
    top: 0;

    .watch__item-wrapper {
      display: flex;
      padding-left: 16%;
      padding-right: 16%;
    }
  }

  @include desktop {
    width: 34.4%;
    padding-left: 2.1%;
    padding-right: 2.1%;

    &:hover {
      width: calc(34.4% * 1.35);

      & .watch__item-wrapper {
        padding-left: 8%;
        padding-right: 8%;
      }
    }

    &--active {
      width: calc(34.4% * 1.35);
      margin-top: 0;

      .watch__item-wrapper {
        display: flex;
        padding-left: 8%;
        padding-right: 8%;
      }
    }
  }

  @include tablet {
    width: 39%;
    padding-left: 2.8%;
    padding-right: 2.8%;

    &:hover {
      width: calc(39% * 1.33);
      margin-top: 0;
      padding-left: 16px;
      padding-right: 16px;

      & .watch__item-wrapper {
        bottom: 32px;
        animation: bounce-watch-tablet 0.6s;
      }
    }

    &--active {
      width: calc(39% * 1.33);
      margin-top: 0;
      padding-left: 3%;
      padding-right: 3%;
      top: 0;

      .watch__item-wrapper {
        display: flex;
        padding-left: 8%;
        padding-right: 8%;
      }
    }
  }

  @include mobile {
    width: 41%;
    padding-left: 2%;
    padding-right: 2%;

    &:hover {
      width: calc(41% * 1.21);
      margin-top: 0;
      padding-left: 2%;
      padding-right: 2%;

      & .watch__item-wrapper {
        bottom: 8px;
        animation: none;
      }

      & .watch__slider-item-img {
        width: 100%;
      }
    }

    &--active {
      width: calc(41% * 1.21);
      margin-top: 0;
      padding-left: 2%;
      padding-right: 2%;
      top: 0;

      .watch__item-wrapper {
        display: flex;
        padding-left: 8%;
        padding-right: 8%;
      }
    }
  }
}

.watch__item-wrapper {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  bottom: 27px;

  @include desktop {
    bottom: 32px;
  }

  @include tablet {
    bottom: 32px;
  }

  @include mobile {
    bottom: 8px;
  }
}

.watch__slider-item-img {
  width: 100%;
  border-radius: 5px;
}

.watch__slider-item-description {
  @include text-options(14px, 16px, 400, var(--btn-text-color));
  width: 100%;
  margin: 0 auto;

  @include desktop {
    width: 84%;
  }

  @include tablet {
    width: 86%;
  }

  @include mobile {
    width: 100%;
    font-size: 12px;
    line-height: 14px;
  }
}

.watch__slider-item-link {
  @include text-options(12px, 14px, 500, $main-green-color);
  padding-top: 6px;
  padding-bottom: 6px;
  text-transform: uppercase;

  &--watch {
    margin-top: 13px;
    margin-right: auto;
    padding-left: 13%;
    background: url("../../assets/images/arrow-circle-watch.svg") no-repeat;

    &:hover {
      color: var(--btn-text-color);
      background-image: url("../../assets/images/arrow-circle-watch-white.svg");
    }
  }

  &--donate {
    margin-top: 13px;
    padding-left: 13%;
    color: var(--btn-text-color);
    background: url("../../assets/images/arrow-circle-watch-donate.svg") no-repeat;

    &:hover {
      color: $main-green-color;
      background-image: url("../../assets/images/arrow-circle-watch-donate-green.svg");
    }
  }

  @include desktop {
    &--watch {
      width: 60%;
      padding-left: 45px;
      background-position: 18px 0;
    }
  }

  @include tablet {
    &--watch {
      width: 60%;
      padding-left: 45px;
      background-position: 18px 0;
    }
  }

  @include mobile {
    font-size: 10px;
    line-height: 12px;

    &--watch,
    &--donate {
      width: 100%;
      margin-top: 6px;
      padding-left: 27px;
      background-position: 0;
    }
  }

  @media (min-width: 1201px) and (max-width: 1861px) {
    padding-left: 24%;
  }
}

.watch__range {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12.8%;
  margin-bottom: 0;
  right: 26.8%;
  bottom: -103px;

  @include desktop {
    width: 20.4%;
    right: 10.4%;
    bottom: -211px;
  }

  @include tablet {
    width: 38.5%;
    right: 8.7%;
    bottom: -106px;
  }

  @include mobile {
    width: 23%;
    right: 21%;
    bottom: 44px;
  }

  @media (min-width: 641px) and (max-width: 896px) {
    width: 29.4%;
  }
}

.watch__range-values {
  display: flex;
  justify-content: center;
  width: 25%;

  @include desktop {
    width: 20%;
  }

  @include tablet {
    width: 21%;
  }

  @include mobile {
    width: 76%;
    margin-bottom: 0;
  }

  @media (min-width: 321px) and (max-width: 586px) {
    justify-content: center;
    width: 36%;
  }
}

.watch__range-value {
  color: $range-gray-color;
  width: auto;
  margin-left: 13%;
  text-align: right;

  &--active {
    margin-left: 0;
    color: $text-white-color;
  }
}

.watch__range-input::-webkit-slider-thumb {
  height: 10px;
  width: 30px;
  background: $text-white-color;

  @include mobile {
    width: 20px;
    transform: translateX(-12px);
  }
}

.watch__social-list {
  @include list-reset;
  @include wrapper-widest;

  @include mobile {
    display: none;
  }
}

.watch__social-item {
  &:first-child {
    margin-bottom: 10px;
  }

  &:nth-child(2) {
    margin-bottom: 5px;
  }

  &:nth-child(3) {
    margin-bottom: 4px;
  }
}

.watch__social-link {
  font-size: 0;

  &:hover .watch__social-icon {
    fill: $main-green-color;
  }
}

.watch__social-icon {
  fill: $text-white-color;
}
