.zoo-video {
  display: flex;
  flex-direction: column;
  width: 61.7%;
  margin-right: 1.8%;
  padding-left: 12.9%;
  padding-top: 59px;
  padding-bottom: 100px;

  @include desktop {
    width: 64.3%;
    margin-right: 2%;
    padding-bottom: 97px;
    padding-left: 5.5%;
  }

  @include tablet {
    width: 100%;
    margin-right: 0;
    padding-top: 153px;
    padding-bottom: 42px;
    padding-left: 17%;
  }

  @include mobile {
    padding-left: 28%;
    padding-top: 127px;
    padding-bottom: 23px;
  }

  @media (min-width: 321px) and (max-width: 580px) {
    padding-left: 31%;
    padding-top: 127px;
    padding-bottom: 23px;
  }

  @media (min-width: 641px) and (max-width: 974px) {
    width: 100%;
    margin-right: 0;
    padding-top: 59px;
    padding-bottom: 42px;
    padding-left: 17%;
  }
}

.zoo-video__title {
  @include h2-model;
  width: 100%;
  margin-bottom: 42px;

  &--wide {
    position: relative;
    width: 104%;
  }

  @include desktop {
    margin-bottom: 39px;
  }

  @include tablet {
    margin-bottom: 35px;
    padding-left: 2%;
  }

  @include mobile {
    padding-left: 4%;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
  }

  @media (min-width: 321px) and (max-width: 580px) {
    padding-left: 4%;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
  }

  @media (min-width: 641px) and (max-width: 974px) {
    margin-bottom: 35px;
    padding-left: 2%;
  }
}

.zoo-video__playlist {
  @include list-reset;
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  overflow: hidden;

  @include desktop {
    margin-bottom: 31px;
  }

  @include tablet {
    margin-bottom: 28px;
  }

  @include mobile {
    width: 96%;
    margin-bottom: 17px;
  }

  @media (min-width: 321px) and (max-width: 580px) {
    width: 96%;
    margin-bottom: 17px;
  }

  @media (min-width: 641px) and (max-width: 974px) {
    margin-bottom: 28px;
  }
}

.zoo-video__main-video {
  width: 100%;
  height: 443px;
  margin-right: 0;
  margin-bottom: 29px;

  &::after {
    display: none;
  }

  & .zoo-video__iframe {
    pointer-events: initial;
  }

  @include desktop {
    height: 300px;
    margin-bottom: 24px;
  }

  @include tablet {
    height: 283px;
    margin-bottom: 12px;
  }

  @include mobile {
    height: 118px;
    margin-right: 0;
    margin-bottom: 8px;
  }

  @media (min-width: 321px) and (max-width: 580px) {
    height: auto;
    margin-bottom: 8px;
  }

  @media (min-width: 641px) and (max-width: 974px) {
    height: 283px;
    margin-bottom: 12px;
  }
}

.zoo-video__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31%;
  height: 140px;
  flex-shrink: 0;

  &:not(:nth-child(3n)) {
    margin-right: 3.5%;
  }

  & .zoo-video__iframe {
    pointer-events: none;
  }


  @include desktop {
    height: 97px;
  }

  @include tablet {
    height: 92px;
  }

  @include mobile {
    width: 48.5%;
    height: 59px;
    margin-right: 2.5%;

    &:not(:last-child) {
      margin-right: 2.5%;
    }

    &:nth-child(3) {
      margin-right: 0;
    }

    &:last-child {
      display: none;
    }
  }

  @media (min-width: 321px) and (max-width: 580px) {
    width: 48.5%;
    height: auto;
    margin-right: 2.5%;

    &:not(:last-child) {
      margin-right: 2.5%;
    }

    &:nth-child(3) {
      margin-right: 0;
    }

    &:last-child {
      display: none;
    }
  }

  @media (min-width: 641px) and (max-width: 974px) {
    height: 92px;

    &--main {
      height: 283px;
      margin-bottom: 12px;
    }
  }
}

.zoo-video__main-iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.zoo-video__iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.zoo-video__pagination {
  width: 4.6%;
  align-self: center;

  @include desktop {
    width: 6.6%;
    transform: translateX(-12px);
  }

  @include tablet {
    width: 7.5%;
    transform: translateX(0);
  }

  @include mobile {
    width: 17%;
    transform: translateX(-6px);
  }

  @media (min-width: 321px) and (max-width: 580px) {
    width: 17%;
    transform: translateX(-6px);
  }

  @media (min-width: 641px) and (max-width: 974px) {
    width: 7.5%;
    transform: translateX(0);
  }
}
