@import "../../sass/general/normalize.scss";
@import "../../sass/general/fonts.scss";
@import "../../sass/general/variables.scss";
@import "../../sass/general/mixins.scss";
@import "../../sass/general/common.scss";
@import "../../sass/blocks/button.scss";
@import "../../sass/blocks/wrapper.scss";
@import "../../sass/blocks/page-header.scss";
@import "../../sass/blocks/logo.scss";
@import "../../sass/blocks/main-nav.scss";
@import "../../sass/blocks/switch.scss";
@import "../../sass/blocks/slider.scss";
@import "../../sass/blocks/range.scss";
@import "../../sass/blocks/watch.scss";
@import "../../sass/blocks/how-works.scss";
