@import "../../sass/general/normalize.scss";
@import "../../sass/general/fonts.scss";
@import "../../sass/general/variables.scss";
@import "../../sass/general/mixins.scss";
@import "../../sass/general/common.scss";
@import "../../sass/blocks/button.scss";
@import "../../sass/blocks/animation.scss";
@import "../../sass/blocks/page-header.scss";
@import "../../sass/blocks/logo.scss";
@import "../../sass/blocks/main-nav.scss";
@import "../../sass/blocks/switch.scss";
@import "../../sass/blocks/slider.scss";
@import "../../sass/blocks/range.scss";
@import "../../sass/blocks/watch.scss";
@import "../../sass/blocks/how-works.scss";
@import "../../sass/blocks/inspires.scss";
@import "../../sass/blocks/pets-in-zoo.scss";
@import "../../sass/blocks/pay-feed.scss";
@import "../../sass/blocks/reviews.scss";
@import "../../sass/blocks/map.scss";
@import "../../sass/blocks/tooltip.scss";
@import "../../sass/blocks/page-footer.scss";
@import "../../sass/blocks/feedback.scss";
@import "../../sass/blocks/form.scss";
@import "../../sass/blocks/contacts.scss";
@import "../../sass/blocks/copyright.scss";
