.category {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.category__item {
  width: calc(100% / 4 - 6%);
  height: 250px;
  margin-right: 2%;
  margin-bottom: 25px;

  background-color: $secondary-color;
  border: 20px solid rgba(255, 255, 255, 0.4);
  border-top-left-radius: 50px;
  // border-top-right-radius: 100px 50px;
  border-bottom-left-radius: 20% 50%;
  border-bottom-right-radius: 20% 50%;
  cursor: pointer;

  &:nth-child(4n) {
    margin-right: 0;
  }
  .play-mode & {
    background-color: $third-color;
  }
}

.category__link {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.category__name {
  @include text-options(20px, 24px, 700, $text-main-color);
  text-transform: uppercase;
}
