.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 6;
  width: 290px;
  height: 100vh;
  // height: calc(100vh + 20px);
  // margin: -95px 0 0;
  padding: 40px 0px 50px;
  left: -355px;
  left: 0;
  background: linear-gradient(40deg, #ffd86f, #fc6262);
  list-style-type: none;
  transition: 0.5s ease;
  box-shadow: 5px 0px 10px #00000033;
}
