.toggle {
  width: 35px;
  height: 20px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background: transparent;
  border: none;
}

.toggle span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: $main-color;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;

  &:nth-child(1),
  &:nth-child(2) {
    top: 0px;
  }

  &:nth-child(3),
  &:nth-child(4) {
    top: 9px;
  }

  &:nth-child(5),
  &:nth-child(6) {
    top: 18px;
  }

  &:nth-child(1),
  &:nth-child(2) {
    top: 0px;
  }

  &:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
  }

  &:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }
}

.toggle--open span {
  &:nth-child(1) {
    left: 3px;
    top: 6px;
  }

  &:nth-child(2) {
    left: calc(50% - 4px);
    top: 6px;
  }

  &:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  &:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  &:nth-child(5) {
    left: 3px;
    top: 16px;
  }

  &:nth-child(6) {
    left: calc(50% - 4px);
    top: 15px;
  }

  &:nth-child(1),
  &:nth-child(6) {
    transform: rotate(45deg);
  }

  &:nth-child(2),
  &:nth-child(5) {
    transform: rotate(-45deg);
  }
}
