@import '../style.scss';

.switch {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 43px;
  background-color: #ff7656;
  border-radius: 50px;
  transition: 500ms;
  overflow: hidden;

  .switch__input:checked + & {
    background-color: $third-color;
  }
}

.switch__input {
  opacity: 0;
  height: 0;
  width: 0;
}

.switch__handle {
  position: absolute;
  display: inline-block;
  top: 4px;
  left: 4px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ffffff;
  overflow: hidden;
  transition: all 500ms ease-out;

  .switch__input:checked + .switch & {
    transform: translateX(56px);
  }
}

.switch__text-train {
  @include text-options(14px, 16px, 600, $button-main-color);
  position: relative;
  top: 12px;
  left: 45px;
  text-transform: uppercase;
  transition: 0.5s ease;

  .switch__input:checked + .switch & {
    display: none;
  }
}

.switch__text-play {
  display: none;
  transition: 0.5s ease;

  .switch__input:checked + .switch & {
    @include text-options(14px, 16px, 600, $button-main-color);
    display: inline;
    position: relative;
    top: 11px;
    left: 15px;
    text-transform: uppercase;
    transition: 0.5s ease;
  }
}
