@import '../../../components/style.scss';

.page-header {
  box-shadow: 0px 4px 20px RGB(0 0 0 / 5%);
}

.page-header__wrapper {
  @include wrapper;

  display: flex;
  align-items: center;
  height: 8vh;
  padding-top: 45px;
  padding-bottom: 45px;
}

.page-header__navigation {
  margin-right: auto;
}

.page-header__link {
  margin-left: 1%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.overlay {
  display: none;
  transition: 0.3s ease;

  &--open {
    display: block;
    height: calc(100vh + 0px);
    width: calc(100vw + 0px);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.4);
  }
}

.login {
  margin-right: 1%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $sixth-color;

  &:hover {
    background-color: $fourth-color;
  }
}
